extends layout

block content
  h1 Please upload an Image in our application
  form(method="POST" action='/' enctype="multipart/form-data")
    input(type='file' name="file")
    input(type='submit' value= "Upload Image")
